body {
  background: $alt-color-lightest;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  width: 100%;
  height: 100%;
}


.label {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: $alt-color-dark;
  text-align: left;
}

$code-size-xs: 4rem;
$code-size-sm: 4rem;
$code-size-md: 4rem;
$code-size-lg: 5rem;

$code-numbers: (
  0: ($color-yellow, 40%),
  1: ($color-green, 40%),
  2: ($color-greendark, 40%),
  3: ($color-bluelight, 40%),
  4: ($color-bluedark, 40%),
  5: ($color-orange, 30%),
  6: ($color-lavender, 40%),
  7: ($color-turquoise, 55%),
  8: ($color-red, 40%),
  9: ($color-pink, 40%)
);

.code__content {
  display: flex;
}

.code-circle {
  color: $color-code;
  font-size: $code-size-xs;
  width: 1em;
  height: 1em;
  border-radius: 3px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
  text-align: center;
  font-weight: 500;
  color: $alt-color-dark;
  position: relative;
  background: white;
  border: 1px solid $alt-color;
  box-shadow: 0 3px 4px rgba($alt-color, 0.1),
              0 0px 2px rgba($alt-color, 0.3);

  &:before {
    content: "";
    position: absolute;
    bottom: 0.05em;
    right: 0.05em;
    left: 0.05em;
    height: 0.1em;
    // width: 0.15em;
    border-radius: inherit;
    background: $alt-color-light;
  }
  
  &.contains {
    border-color: $alt-color-dark;
  }
  &.contains.invalid {
    color: $alt-color-light !important;
    border-color: $color-red;
  }

  @each $index, $color in $code-numbers {
    &.code-circle--#{$index} {
      //border-color: darken(nth($color, 1), nth($color, 2));
      &:before {
        background: nth($color, 1);
      }
    }
  }
  span {
    font-size: 0.55em;
    display: inline-block;
    margin-top: -0.1em;
  }

  @include media('sm') {
    font-size: $code-size-sm;
    border: 0;
    box-shadow: 0 5px 4px rgba($alt-color, 0.2),
                0 0px 2px 1px rgba($alt-color, 0.3);
    box-shadow: 0 3px 10px rgba($alt-color, 0.2),
                0 2px 4px 1px rgba($alt-color, 0.1);

    &:before {
      bottom: 0.25rem;
      right: 0.25rem;
      left: 0.25rem;
    }
  }
  @include media('md') {
    font-size: $code-size-md;
  }
  @include media('lg') {
    font-size: $code-size-lg;
    &:before {
      height: rem(5px);
    }
  }
}

.code__item {
  margin-right: $code-margin;
  @include media('sm') {
    margin-right: 1rem;
  }
  @include media('lg') {
    margin-right: 1.5rem;
  }
  &:last-child {
    margin-right: 0;
  }
}

.mobile-font-size {
  font-size: calc((100vw - 4rem) / 7);
}


.check--small {
  font-size: .8125rem;
  line-height: 1.230769231;
}

.check__title {
  font-weight: 500;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-top: 0.25em;
    border-radius: 100%;
    float: left;
    background: $alt-color;
    .unsupported & {
      background: $color-red;
    }
    .supported & {
      background: $color-green;
    }
    .partial & {
      background: $color-yellow;
    }
  }
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: -0.2em;
}

.icon--large {
  width: 1.2em;
  height: 1.2em;
}

.block {
  display: block;
}

a {
  text-decoration: none;
  &:hover {
    color: $brand-color-darker;
  }
}

.h-100 {
  height: 100%;
}

.arrow-after {
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: $alt-color-dark transparent transparent transparent;
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
  }
}