.relative {
  position: relative;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  width: 100%;
  height: 100%;
}

* {
  user-select: none;
}

.label {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: $alt-color-dark;
  text-align: left;
}

$code-numbers: (
  0: ($color-yellow, 40%),
  1: ($color-green, 40%),
  2: ($color-greendark, 40%),
  3: ($color-bluelight, 40%),
  4: ($color-bluedark, 40%),
  5: ($color-orange, 30%),
  6: ($color-lavender, 40%),
  7: ($color-turquoise, 55%),
  8: ($color-red, 40%),
  9: ($color-pink, 40%)
);
.code-circle {
  color: $color-code;
  font-size: 4rem;
  width: 1em;
  height: 1em;
  border-radius: 3px;
  text-transform: uppercase;
  display: inline-block;

  line-height: 0.57em;
  text-align: center;
  font-weight: 500;
  color: $alt-color-dark;
  position: relative;
  background: white;
  border: 1px solid $alt-color;
  box-shadow: 0 3px 4px rgba($alt-color, 0.1),
              0 0px 2px rgba($alt-color, 0.3);

  margin-right: $code-margin;
  @include media('sm') {
    border: 0;
    box-shadow: 0 5px 4px rgba($alt-color, 0.2),
                0 0px 2px 1px rgba($alt-color, 0.3);
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0.05em;
    right: 0.05em;
    left: 0.05em;
    height: 0.1em;
    // width: 0.15em;
    border-radius: inherit;
    background: $alt-color-light;
  }
  @include media('sm') {
    margin-right: 1rem;
    box-shadow: 0 3px 10px rgba($alt-color, 0.2),
                0 2px 4px 1px rgba($alt-color, 0.1);

    &:before {
      bottom: 0.25rem;
      right: 0.25rem;
      left: 0.25rem;
    }
  }
  @include media('lg') {
    margin-right: 1.5rem;
    font-size: 5rem;
    &:before {
      height: rem(5px);
    }
  }
  &.contains {
    border-color: $alt-color-dark;
  }
  &.contains.invalid {
    color: $alt-color-light !important;
    border-color: $color-red;
  }

  @each $index, $color in $code-numbers {
    &.code-circle--#{$index} {
      //border-color: darken(nth($color, 1), nth($color, 2));
      &:before {
        background: nth($color, 1);
      }
    }
  }
  span {
    font-size: 0.55em;
  }
  &:last-child {
    margin-right: 0;
  }
}

.mobile-font-size {
  font-size: calc((100vw - 4rem) / 7);
}