@import 'variables';

$track-color: $color-greylighter;
$thumb-color: #607d8b;

$thumb-radius: 8px;
$thumb-height: 16px;
$thumb-width: 16px;
$thumb-shadow-size: 0px;
$thumb-shadow-blur: 0px;
$thumb-shadow-color: rgba(0, 0, 0, .2);
$thumb-border-width: 0px;
$thumb-border-color: #eceff1;

$track-width: 100%;
$track-height: 8px;
$track-shadow-size: 0px;
$track-shadow-blur: 1px;
$track-shadow-color: rgba(0, 0, 0, .2);
$track-border-width: 1px;
$track-border-color: $color-greylight;

$track-radius: 5px;
$contrast: 5%;

$ie-bottom-track-color: darken($track-color, $contrast);

@import '../../../node_modules/input-range-scss/inputrange';
