@import 'range';

body {
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: $color-black;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 3.5rem;
}

.title {
  color: $color-red;
  font-weight: 900;
}

.lead {
  font-size: 2.5rem;
  line-height: 1.3333333;
  font-weight: 300;
  hyphens: auto;
}

.text-muted {
  color: #999;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  width: 100%;
  height: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list--divided {
  > li {
    border-bottom: 1px solid $color-greylight;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.flex {
  display: flex;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.mrgr {
  margin-right: 1rem;
}

.mrgl {
  margin-left: 1rem;
}

.mrgb {
  margin-bottom: 1rem;
}

.pdg- {
  padding: 0.5rem;
}

.pdg {
  padding: 1rem !important;
}

.button {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  line-height: 1;
  border: 0;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  &:focus {
    outline: none;
  }
}

.button--primary {
  background: $color-red;
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 3px;
}

.material {
  border: 1px solid $color-grey;
  // box-shadow: 0 5px 10px 0px rgba($color-greydark, 0.1);
}


.label {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: $color-greydark;
  text-align: left;
}

.code-circle {
  border: 1px solid $color-code;
  color: $color-code;
  font-size: 4rem;
  width: 1em;
  height: 1em;
  border-radius: $code-radius;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  margin-right: $code-margin;
  line-height: 0.75em;
  font-weight: 700;
  span {
    font-size: 0.6em;
  }
  &:last-child {
    margin-right: 0;
  }
}

.button--responsive {
  width: 100%;
  font-size: inherit;
  line-height: 0;
  border-radius: $code-radius;
  height: 1.25em;
  span {
    font-size: 0.4em;
    line-height: 1;
    display: inline-block;
  }
}

.mobile-font-size {
  font-size: calc((100vw - 4rem) / 7);
}