$color-greylighter:           #f5f5f5;
$color-greylight:             rgb(237, 238, 236);
$color-greydark:              rgb(113, 116, 122);
$color-grey:                  #e0e2df;

$color-red:                   #ff653b;
$color-yellow:                rgb(253, 188, 75);
$color-blue:                  rgb(196, 232, 247);
$color-black:                 #121212;

$color-green:                 #c3d57f;

$color-code:                  #444;

$code-margin:                 0.2em;
$code-radius:                 $code-margin;

$index-canvas-main:           100;
$index-canvas-temp:           110;
$index-canvas-interface:      710;

$index-brush:                 300;
$index-color-picker:          400;
$index-header:                460;
$index-overlay:               470;
$index-toolbar:               500;
$index-brush-toolbar:         500;

$index-footer:                500;
$index-modal:                 600;

$index-cursor:                1700;

$index-background-animation:  800;
$index-pairing:               900;


$toolbar-height:              5rem;
