/*----------------------------------------*\
  BUTTON
\*----------------------------------------*/

.btn,
%btn {

  display: inline-block;
  overflow: hidden;
  padding: 0.75rem 1rem;

  font-family: $btn-font-family;
  color: $btn-color;

  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-weight: 600;

  border: $btn-border;
  border-radius: $btn-border-radius;
  background: $btn-bkg;
  cursor: pointer;

  // Cleaner font rendering
  // <button> doesn’t inherit
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}


/**
 * Variants
 */

// Use all the width available
.btn--block,
%btn--block {
  display: block;
  width: 100%;
}

// Remove default styling for special buttons
.btn--bare,
%btn--bare {
  padding: 0;
  border: 0;
  border-radius: 0;
}


/**
 * Styles
 */

.btn--link {
  color: $text-color;
  &:hover {
    color: $brand-color;
  }
}

.btn--default,
.btn--primary {
  @include font-values($font-btn);
}

.btn--default,
%btn--default {
  color: $alt-color-dark;

  background-color: white;

  box-shadow: 0 4px 9px rgba($alt-color-light, .24),
              0 1px 2px rgba($alt-color-light, .71);


  &:hover,
  &:focus {
    background-color: $btn-default-hover-bkg-color;
  }

  &:active {
    background-color: $btn-default-active-bkg-color;
  }
}

.btn--primary,
%btn--primary {
  color: lighten($btn-primary-bkg-color, 50%);

  background-color: $btn-primary-bkg-color;

  box-shadow: 0 1px 1px rgba(darken($brand-color, 40%), .19),
              0 3px 7px rgba(darken($brand-color, 70%), .16);

  &:hover {
    background-color: $btn-primary-hover-bkg-color;
  }

  &:active, &:focus {
    background-color: $btn-primary-bkg-color;
  }
}


/**
 * States
 */

.btn--disabled,
.btn[disabled],
%btn--disabled {
  opacity: .5;

  cursor: not-allowed;
}


/**
 * Sizes
 */

.btn--small,
%btn--small {
  padding: $btn-small-padding;

  @include font-values($font-btn-small);

  border: $btn-small-border;
  border-radius: $btn-small-border-radius;
}

.btn--large,
%btn--large {
  padding: $btn-large-padding;

  font-size: $btn-large-font-size;

  border: $btn-large-border;
  border-radius: $btn-large-border-radius;
}