$code-size-xs: 4rem;
$code-size-sm: 4rem;
$code-size-md: 4rem;
$code-size-lg: 5rem;

$code-numbers: (
  0: ($color-yellow, 40%),
  1: ($color-green, 40%),
  2: ($color-greendark, 40%),
  3: ($color-bluelight, 40%),
  4: ($color-bluedark, 40%),
  5: ($color-orange, 30%),
  6: ($color-lavender, 40%),
  7: ($color-turquoise, 55%),
  8: ($color-red, 40%),
  9: ($color-pink, 40%)
);

.code__content {
  display: flex;
}

.code-circle {
  color: $color-code;
  font-size: $code-size-xs;
  width: 1em;
  height: 1em;
  border-radius: 3px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
  text-align: center;
  font-weight: 700;
  color: $alt-color-dark;
  position: relative;
  background: white;
  border: 1px solid $alt-color;
  box-shadow: 0 3px 4px rgba($alt-color, 0.1),
              0 0px 2px rgba($alt-color, 0.3);

  &:before {
    content: "";
    position: absolute;
    bottom: 0.05em;
    right: 0.05em;
    left: 0.05em;
    height: 0.1em;
    // width: 0.15em;
    border-radius: inherit;
    background: $alt-color-light;
  }
  
  &.contains {
    border-color: $alt-color-dark;
  }
  &.contains.invalid {
    color: $alt-color-light !important;
    border-color: $color-red;
  }

  @each $index, $color in $code-numbers {
    &.code-circle--#{$index} {
      //border-color: darken(nth($color, 1), nth($color, 2));
      &:before {
        background: nth($color, 1);
      }
    }
  }
  span {
    font-size: 0.55em;
    display: inline-block;
    margin-top: -0.2em;
  }

  @include media('sm') {
    font-size: $code-size-sm;
    border: 0;
    box-shadow: 0 5px 4px rgba($alt-color, 0.2),
                0 0px 2px 1px rgba($alt-color, 0.3);
    box-shadow: 0 3px 10px rgba($alt-color, 0.2),
                0 2px 4px 1px rgba($alt-color, 0.1);

    &:before {
      bottom: 0.25rem;
      right: 0.25rem;
      left: 0.25rem;
    }
  }
  @include media('md') {
    font-size: $code-size-md;
  }
  @include media('lg') {
    font-size: $code-size-lg;
    &:before {
      height: rem(7px);
    }
  }
}

.code__item {
  margin-right: $code-margin;
  @include media('sm') {
    margin-right: 1rem;
  }
  @include media('lg') {
    margin-right: 1.5rem;
  }
  &:last-child {
    margin-right: 0;
  }
}
