$track-color: $alt-color-darkest;
$thumb-color: $alt-color;

$thumb-radius: 4px;
$thumb-height: 12px;
$thumb-width: 12px;
$thumb-shadow-size: 0px;
$thumb-shadow-blur: 0px;
$thumb-shadow-color: rgba(0, 0, 0, 0.2);
$thumb-border-width: 0px;
$thumb-border-color: transparent;

$track-width: 100%;
$track-height: 4px;
$track-shadow-size: 0px;
$track-shadow-blur: 0px;
$track-shadow-color: rgba(0, 0, 0, 0.2);
$track-border-width: 0px;
$track-border-color: $alt-color-light;

$track-radius: 0px;
$contrast: 0%;

$ie-bottom-track-color: darken($track-color, $contrast);

@import 'input-range-scss/_inputrange';
