.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--align-stretch {
  align-items: stretch !important;
}

.flex-1 {
  flex: 1;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.mrgla {
  margin-left: auto;
}