.block {
  display: block;
}

.h-100 {
  height: 100%;
}

.arrow-after {
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: $alt-color-dark transparent transparent transparent;
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
  }
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  width: 100%;
  height: 100%;
}