.text-brand {
  color: $brand-color;
}

.text-light {
  font-weight: 400 !important;
}

.text-bold {
  font-weight: 700;
}

.text-heavy {
  font-weight: 700;
}

.text-hyphens {
  hyphens: auto;
}

.bg-white {
  background: white;
}

.label {
  font-weight: 700;
  font-size: rem(12px);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: $alt-color-dark;
  @include media('sm') {
    font-size: rem(12px);
  }
  @include media('md') {
    font-size: rem(14px);
  }
  @include media('lg') {
    font-size: rem(14px);
  }
}

.mobile-font-size {
  font-size: calc((100vw - 4rem) / 7);
}
