.text-brand {
  color: $brand-color;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 700;
}

.text-heavy {
  font-weight: 900;
}

.text-hyphens {
  hyphens: auto;
}

.bg-white {
  background: white;
}