.text-brand {
  color: $brand-color;
}

.text-light {
  font-weight: 300 !important;
}

.text-bold {
  font-weight: 500;
}

.text-heavy {
  font-weight: 500;
}

.text-hyphens {
  hyphens: auto;
}

.bg-white {
  background: white;
}